@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #1e201e;
  --bg-secondary: #3c3d37;
  --text-primary: #ecdfcc;
  --text-dark: #697565;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  flex: 1 1 auto;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-screen-lg px-4;
  }
  .basic-transition {
    @apply transition-all duration-200 ease-in;
  }
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

input[type='password']::-webkit-textfield-decoration-container {
  display: none;
}

input[type='password']::-webkit-input-placeholder {
  background: none;
  -webkit-appearance: none;
}

input[type='password']::-moz-placeholder {
  background: none;
}

input[type='password']::-ms-input-placeholder {
  background: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #ecdfcc;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
